.hero {
   min-height: 80vh;
   height: 100vh;
   position: relative;
   display: block;
}

.hero-body {
   background: #fff;
   position: absolute;
   max-width: 600px;
   top: 50%;
   right: 0%;
   transform: translate(0%, -50%);
   margin-inline: 4rem;
   padding: 4rem;
   border: 1px solid #000;
}
.hero-body h1 {
   font-size: 48px;
   margin-bottom: 2rem;
}
.hero-body p {
   font-weight: 600;
}

.hero-desktop {
   max-width: fit-content;
   width: 100%;
   position: absolute;
   top: 20%;
   transform: translate(0%, -20%);
   padding-inline: 4rem;
}
.hero-mobile {
   display: none;
   max-width: fit-content;
   width: 100%;
   position: absolute;
   top: 10%;
}
@media (max-width: 600px) {
   .hero {
      height: 100%;
   }
   .hero-desktop {
      display: none;
   }
   .hero-mobile {
      display: block;
      position: static;
      margin-top: 2rem;
   }
   .hero-body { 
      position: relative;
      top: 0;
      transform: translate(0%, 0);
      margin: 2rem;
      padding: 2rem;
   }
   .hero-body h1 {
      font-size: 32px;
      margin-bottom: 1rem;
   }
}
